.header {
  background: url(/public/images/1.jpg) no-repeat center;
  background-size: cover;
  border-radius: 0 0 85% 85% / 30%;
  height: 50vh;
}

.header .navbar {
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

nav img {
  border-radius: 50%;
  width: 30px;
}

.navbar-nav a {
  font-weight: bold;
  color: #0586ff !important;
}
.texto {
  height: 40vh;
  width: 30vw;
  margin-left: auto;
  font-weight: bold;
}

.texto h1 {
  color: #ffd105;
  text-shadow: 1px 2px #2c2c2ca4;
}

.texto p {
  font-size: 1.2em;

  color: #5f3204;
  text-align: justify;
  text-shadow: 1px 1px #fff6a271;
}
/*
.texto p {
  font-size: 1.1em;
  margin-top: 130px;
  margin-right: 100px;
  color: #0586ff;
  font-weight: bold;
} */
/* .glass {
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */

main {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  font: 100% system-ui, sans-serif;
}

#info {
  height: 30rem;
}

section {
  margin-top: 3rem;
}

.cursos div {
  background-color: #fbc000;
  color: white;
  max-width: 200px;
  display: inline-block;
  box-shadow: 5px 5px 10px black;
}
.fotos img {
  max-width: 450px;
  display: inline-block;
}
ul li {
  text-align: left;
}
/* ul li::marker {
  content: "🚀";
} */

ol li {
  text-align: left;
}
